:root {
    --lightBrown: #D6A577;
    --darkBrown: #5B3B28;
    --orange: #BD7657;
    --sandColor: #BAAE99;

}

html,
body {
    height: fit-content;
    width: auto;
    background-color: var(--lightBrown);
    overflow-x: hidden;
    overflow-y: auto;

}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 4vh 4vw;
    border: 0.5vw groove var(--darkBrown);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

button {
    margin: 4vw;
    padding: 2vw 3vw;
    color: var(--darkBrown);
    font-size: 4vw;
    border: 0.25vw solid var(--darkBrown);
    border-radius: 60%;
}

/* New Zoo */

#newZoo {
    height: calc(100vh - 8vh);
    display: flex;
    background-image: url('./../public/animalsBanner.png');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.newZoo-form input {
    text-align: center;
    border: none;
    border-bottom: 0.25vw solid var(--darkBrown);
    background-color: transparent;
    outline: none;
    font-size: 4vw;
    padding-left: 20px;
    color: var(--darkBrown);
}

.newZoo-form input::placeholder {
    color: var(--orange);
}

.newZoo-form button {
    background-color: var(--sandColor);
}

/* Zoo */
#zoo {
    height: fit-content;
    width: auto;
}

.zoo-welcome {
    text-align: center;
    margin-bottom: 3vw;
}

.zoo-age {
    padding: 3vw;
    padding-top: 0;
    text-align:end;
}

.zoo-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 3vw;
    padding-right: 7vw;

}

.zoo-buttons-icon {
    width: 3vw;
    max-width: 100px;
    min-width: 50px;
    height: auto;
    padding: 1vw;
    border-radius: 50%;
    border: 0.25vw solid var(--darkBrown);
}

.zoo-animals-grid {
    display: grid;
    grid-row: repeat(3, 1fr);
    height: fit-content;
width: auto;}

.zoo-animals-grid-cage {
    min-width: 30vw;
    width: 50%;
    min-height: 20vh;
    height: fit-content;
    margin: 10px;
    border: 2px dashed var(--darkBrown);
}

.cage-a {
    justify-self: self-start;
}

.cage-b {
    justify-self: center;
}

.cage-c {
    justify-self: self-end;
}

.zoo-otherInfo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 3vw;

}
.zoo-otherInfo-HealthInfo{
    border: solid 0.5vw var(--darkBrown);
}
.zoo-otherInfo-HealthInfo-Container{
    padding: 3vw;
    border-bottom: solid 0.5vw var(--darkBrown);
    display: flex;
    flex-direction: column;
}
.zoo-otherInfo-HealthInfo-Container-animalsHealth{
    display: flex;
    align-self: center;
    gap: 3vw;
    padding-top: 2vw;
}
.zoo-otherInfo-button {
    background-color: var(--orange);
    align-self: center;
    padding: 3vw;
    height: min-content;
    width:  auto;
}

.death {
    color: red;
    border: solid 1vw var(--darkBrown);
}
.ill {
    color: orange;
    border: solid 1vw var(--darkBrown);

}
.healthy {
    color: green;
    border: solid 1vw var(--darkBrown);

}


/* Animals */
.animalsCage{
    display: grid;
    grid-template-rows: repeat(2, auto);
}
.animalsCage-name {
    justify-self: center;
}

.aanimalsCage-IconsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
    grid-auto-rows: minmax(50px, 1fr);
    grid-auto-flow: dense;
    padding: 1vw;
    gap: 2vw;
}

.animalIcons {
    max-width: 50px;
    min-width: 50px;
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    padding: 1vw;

}

.animalIcons.hiddenIcon{
    visibility: hidden;
}